In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [7]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset["charges"]

In [9]:
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [12]:
y_train

1163     2200.83085
196      5649.71500
438     12592.53450
183      7419.47790
1298     5261.46945
           ...
763      3070.80870
835      7160.33030
1216     5415.66120
559      1646.42970
684      4766.02200
Name: charges, Length: 936, dtype: float64

In [13]:
from sklearn.datasets import load_boston
from sklearn import datasets, ensemble
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from pandas import DataFrame
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse

In [14]:
!pip install lightgbm==3.2.0

Requirement already satisfied: lightgbm==3.2.0 in c:\python\lib\site-packages (3.2.0)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\python\lib\site-packages (from lightgbm==3.2.0) (0.21.3)
Requirement already satisfied: scipy in c:\python\lib\site-packages (from lightgbm==3.2.0) (1.3.1)
Requirement already satisfied: wheel in c:\python\lib\site-packages (from lightgbm==3.2.0) (0.33.6)
Requirement already satisfied: numpy in c:\python\lib\site-packages (from lightgbm==3.2.0) (1.16.5)
Requirement already satisfied: joblib>=0.11 in c:\python\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.2.0) (0.13.2)

In [15]:
import lightgbm as lgb
from lightgbm import LGBMRegressor
regressor = lgb.LGBMRegressor(n_estimators=5000)

In [16]:
regressor.fit(X_train,y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=5000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [17]:
regressor

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=5000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [18]:
y_pred = regressor.predict(X_test)

In [19]:
y_pred

array([ 6448.43982935,  9142.22380238, 41867.17150049,  8179.62837451,
        9062.39899883,  7642.32241276,   847.52754213, 10421.36608829,
        5802.99491745,  1893.11125311,  4478.60738099, 20876.45346717,
        6244.23241524,  6766.82118447, 28892.39261627, 16957.27139952,
       16170.99629602,  1891.96877041,  4212.68359121, 34053.1049827 ,
       22724.15727226, 17759.98225029,  6979.05816626, 24067.84544342,
        3889.80126321,  5578.82577514,  3684.39027136,  3994.7738557 ,
        3732.68098582, 13034.14903678,  8825.01945917, 47658.50816443,
       20836.35658332, 13832.83244694, 17352.02032297,  7737.08931904,
       12777.64600279, 38685.63787166, 36272.48067976, -1045.66901456,
        6360.84735386,  8443.18875624, 22104.12597115, 48208.49174126,
       35474.15378143,  1895.41100936, 17398.13581606,  7937.06581009,
        4854.8029026 , 13755.88463131,  2921.46494292,  5439.1651422 ,
       26036.575448  , 45776.42451741, 10589.7624444 ,  7417.51447475,
        4574.84892877, 10604.2495137 ,  9325.15006316, 20308.98771249,
        -103.66185732, 45200.97601937, 15263.06589471, 22500.67123436,
       12814.93556107,  7085.91794725, 35306.57638625, 39342.04656292,
        6074.056612  ,  7142.47873401, 22609.12833794,  9469.98308155,
       16815.59762206, 16474.17871971, 18221.07277714, 21143.99941478,
       10412.83530691, 13088.70948138, 17749.32376519, 52935.7647319 ,
       10017.87907093, 52786.0171351 ,  1537.02029026, 14583.90622507,
       37420.7667394 , 20175.63546268,  2850.04759143,    96.16665641,
        7358.76727064, 36660.08232509,  1724.45503822, 18271.22601293,
       12744.41679258, 13089.717571  ,  6224.73429286,  3181.09615672,
       49507.99128928, 44962.35584165,  3035.04193168, 10468.35514589,
        4551.56750959, 17567.85984334,  2581.02100877, 36198.55291956,
       32387.18461576,  1653.16153773, 11125.90704362,   349.81493215,
       11678.66668115, 46629.39555576, 14578.5394049 ,  4801.27769912,
        8719.97140736, 35794.92035349, 49753.01494674,  8787.92568534,
        4241.16732519,  7904.16775032, 24035.67883877,  9475.77247649,
       44245.64041477, 12392.65013078, 16358.84747567, 12327.56945349,
       10236.67209548,  6436.69310109, 26906.19166582, 27979.45953101,
       48549.04476378,  1517.31896864, 16779.83223506,  6141.93127897,
        7164.1799347 ,  8787.07894983, 45950.89061266, 38891.22988236,
       21891.17341477, 14658.97665434, 21757.06648153, 11945.76861806,
        1203.45591783,  9631.23546984, 20751.39717823,  9271.70759017,
        6317.61956291, 10659.54675545, 23963.4903256 , 15087.15137154,
         675.73812676, 10009.10653297,  4310.86693782, 38133.00886126,
        8375.26825226,  9459.13761513,  3640.03153778,  9015.29691415,
       -1136.85631491,  3692.58086439, 16957.27139952, 10309.13851385,
        3632.29195747, 13512.28010844, 14421.05967673,  6594.42108676,
       14350.19178668,  4626.57514062, 15187.57412855, 10286.57126378,
        7841.86953312,   396.52360777, 13149.27560973, 11241.23256418,
       11736.77906283, -2468.24096333,  8989.6761722 ,  4838.76681539,
        5977.14451565,  7153.56533149, 25447.9142271 ,  1849.54232508,
       19686.32311077,  3953.09934397, 12121.68502265,  5384.77710085,
        9770.85045893, 29219.5645484 ,  2383.46417599,  3918.2775549 ,
       11288.49288393, 16195.70038745, 42913.98049853,  3373.48849292,
        3040.90225781, 21305.35134568, -3290.67199822,  5428.72772702,
       10540.01571323,  5973.02410128,  2964.76062181,  6262.79426312,
       13325.2515015 , 47602.11098656, 16490.22046345, 19689.71977044,
        8405.03027024, 36109.06936226,  2860.99636992,  9840.0684095 ,
        6961.97219164,   570.97925417,  7486.62978681, 16600.03852469,
        5662.53511074,   501.64834647,  5531.53791507, 11821.78902584,
        8853.98960838,  9488.06295346, 16082.82090327,  5597.12992685,
       12851.5359798 ,  6602.37349741, 10462.26436266, 10500.48514891,
       15479.29081012, 12870.12186716, 23242.48668616, 14715.03063611,
        2178.35512275,   290.65291315, 10420.20311659,  4227.55937574,
       15035.82658028,  2910.393747  ,  7696.55472704,  4222.64945186,
       21742.97767105, 36015.19751868,  5120.14935671,  8728.27324991,
        9979.19024517, 44378.05009429,  6963.47130845,  8063.95235794,
       13798.79571715,  7096.4337385 ,  3996.90648012,  6342.99957929,
        5084.63200265,  4030.88597617, 20641.6276561 , 43839.76764202,
        2960.87570486,  3318.99966488,  1275.70636858,  2624.05132339,
        9870.3650877 ,  2059.70334006,   853.56678723, 17470.64891032,
        6510.3792505 , 28541.96335519, 45853.51298802, 16507.34934318,
        7264.07796433, 11018.69475392, 53062.49919042,  9255.54022345,
       42395.63874946,  1048.73959452, 38703.93639702,  4456.15027388,
       11309.38692731, 11414.73467295, 33736.48823073,  3271.75927351,
       11015.3680354 ,  6372.07745528,  1159.78810964, 24247.90794674,
       10179.55525355,  3133.55867169, 14697.80061224, 21281.35399082,
        7702.8520572 , -1106.91811143,  6670.78293758, 23110.91984661,
        2393.2680421 ,  1622.31817488,  2198.20616648, 52285.92708093,
       11691.55134791,  3347.82578732, 15825.17458744, 13683.04497264,
       35156.16082517,  9637.41276605,  5494.62136673, 10210.95995441,
        1606.99489112, -1843.74128868, 16786.23658929, 14904.83632652,
       11088.15753681,  -719.30117543,  1504.97993877, 17274.94007593,
        7162.24968934, 15353.03675168, 21468.90724075, 11731.54571391,
       19240.60782261,  -346.36498805,  8870.49504262,  9677.37450085,
       20699.10294734,  2052.54936936,  9475.72364935, 48779.37158329,
        4730.27906867,  3677.3576919 ,  2415.80801364, 14092.61470034,
        6786.07020132, 11858.7547206 , 49341.85498912, 17028.47322764,
        8087.66171263, 49750.60790178, 23883.25219504,  7222.55340363,
        8388.45529979,  1855.03402711, 29206.22280044,  1665.2324127 ,
       16454.5816718 ,  -628.45496994, 13091.51089223,  3755.33420688,
       25470.44133262,  7007.61464524,  7266.3319174 , 43165.63173777,
        6757.50533797,  4832.10421222, 27597.02029344,  1444.25091662,
       12903.55864815,  1433.17404542, 19922.49347596,  3811.27251897,
        3836.60194706,  4094.20747974, 46694.64696945, 11838.15126823,
       32578.04263644, 40682.62586439,  5024.83101569, 13146.46404832,
        1739.81663629,  4235.66057935,  5415.40461585,  9737.06857406,
       53811.95166553,  9790.99098178,   566.94393224, 18505.15963762,
        2681.46460093, 18738.09209476,  6779.25543489,  -226.4979151 ,
         483.70917181, 34248.99665177,  4543.39831167,  2030.78597168,
       41974.53932258, 11611.55808549, 48319.9905718 ,  9032.53679324,
       18820.76819199,  1880.91607796,  2021.32821339, 18633.81192361,
        9460.25223816,  2747.99038452,  5751.86868349,  6696.76402596,
        3088.43973609,  5694.80724377,  9864.26734338, 45762.93537882,
        2225.12114906, 13155.27965277,  7844.99612552, 23547.01062259,
       11955.23519253,  2339.5277213 , 13685.65901388, 14354.35411887,
       15070.81302089, 20536.29602193])

In [20]:
regressor.predict([[1,2,3,4,5]])

array([14558.81118386])

In [21]:
regressor.score(X_train, y_train)

0.9993933501401385

In [22]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [23]:
r_score

0.7883586225073415